/*** Fonts arearm ***/
  @font-face {
    font-family: 'playfair_bold';
    src: url('../fonts/playfair-bold.eot');
    src: url('../fonts/playfair-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfair-bold.woff2') format('woff2'),
         url('../fonts/playfair-bold.ttf') format('truetype'),
         url('../fonts/playfair-bold.svg#playfair_bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_bolditalic';
    src: url('../fonts/playfair-bolditalic.eot');
    src: url('../fonts/playfair-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfair-bolditalic.woff2') format('woff2'),
         url('../fonts/playfair-bolditalic.ttf') format('truetype'),
         url('../fonts/playfair-bolditalic.svg#playfair_bold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'playfair_italic';
    src: url('../fonts/playfair-italic.eot');
    src: url('../fonts/playfair-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfair-italic.woff2') format('woff2'),
         url('../fonts/playfair-italic.ttf') format('truetype'),
         url('../fonts/playfair-italic.svg#playfair_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'playfair_regular';
    src: url('../fonts/playfair-regular.eot');
    src: url('../fonts/playfair-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfair-regular.woff2') format('woff2'),
         url('../fonts/playfair-regular.ttf') format('truetype'),
         url('../fonts/playfair-regular.svg#playfair_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light.eot');
    src: url('../fonts/raleway-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light.woff2') format('woff2'),
         url('../fonts/raleway-light.ttf') format('truetype'),
         url('../fonts/raleway-light.svg#ralewaylight') format('svg');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight_italic';
    src: url('../fonts/raleway-lightitalic.eot');
    src: url('../fonts/raleway-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-lightitalic.woff2') format('woff2'),
         url('../fonts/raleway-lightitalic.ttf') format('truetype'),
         url('../fonts/raleway-lightitalic.svg#ralewaylight_italic') format('svg');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'raleway_bold';
    src: url('../fonts/raleway-medium.eot');
    src: url('../fonts/raleway-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.ttf') format('truetype'),
         url('../fonts/raleway-medium.svg#ralewaymedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_bolditalic';
    src: url('../fonts/raleway-mediumitalic.eot');
    src: url('../fonts/raleway-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic.woff2') format('woff2'),
         url('../fonts/raleway-mediumitalic.ttf') format('truetype'),
         url('../fonts/raleway-mediumitalic.svg#ralewaymedium_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/*** Global ***/
body {
  font-family: "ralewaylight", sans-serif;
  font-weight: lighter;
  font-style: normal;
  text-align: center;
  color: #2d2d2d;
  font-size: 14px;
}

h1{
  display:none;
}

h2 {
  font-family: 'playfair_italic', sans-serif;
  font-size: 38px;
  font-weight: light;
  font-style: italic;
  padding: 60px 0 20px 0;
}

.bold-heading {
  font-family: 'playfair_bold', sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: bold;
}

h3 {
  font-family: "playfair_regular", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #e2574c;
}

/* General */
.verticalcentre {
  position: relative;
  top: 50%;
}

.clearfix:before,
.clear:after {
  content: " ";
  display: table;
  clear:both;
}

.greyline {
	border-bottom: 2px solid #d7d7d7;
}

a {
  color: #ffffff;
}

a:hover {
  color: #b64036;
}

.container {
  width: 1240px;
}

/* Header */
.alohalogo {
  float: left;
  width: 25%;
  padding: 10px;
}

.shoppingcart {
  float: right;
  width: 12%;
  padding: 10px;
}

/* Banner */
.hero {
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/banner-girl.png") no-repeat,
    url("../images/flower-bkgd.jpg");
  background-size: contain, contain, cover;
  /*  background-position: left 495px bottom -95px, 195px; */
  background-position: 45%, left 50% bottom -95px, 45%;
  height: 550px;
  /*clear: both; */
}

.newcollection {
  position: relative; top: 45%;
  font-family: 'raleway_bold', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  color: #ffffff;
}

.season {
  position: relative; top: 45%;
  font-family: 'playfair_regular', sans-serif;
  font-size: 64px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
}

.description {
  font-size: 18px;
  line-height: 36px;
  padding: 5px 0 60px 0;
}

.products {
  margin-bottom: 50px;
}

.products li {
  list-style: none;
  margin: 0 auto;
}

.products-category {
  font-family: 'railway_bold', sans-serif;
  font-size: 12px;
  font-height: 24px;
  color: #969696;
  text-transform: uppercase;
}

.products-price {
  font-family: 'railway_bold', sans-serif;
  font-size: 16px;
  font-height: 32px;
  color: #969696;
}

/* Signup for Updates */
.signup {
  background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%), url('../images/wave-bkgd.jpg');
  background-size: cover;
  background-position: 50% 100%;
/*  height: 200px; */
  margin-bottom: 10px;
  color: #ffffff;
}

.signup-form {
  border-radius: 5px;
  margin: 10px;
}

/*** footer ***/
footer {
  text-align: center;
  font-family: 'playfair_regular', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  padding: 40px;
  background-color: #242424;
  color: #ffffff;
}

.contact-info {
  padding: 15px 0px 15px 0px; /* top | right | bottom | left */
}

.address {
  color: #928479;
  padding: 10px 0px 10px 0px;
}

.social-media i {
  padding: 20px 10px 20px 10px;
}

.social-media li {
  display: inline-block;
}

.hide-text {
  display: none;
}

/* Breakpoints
@media screen and (min-width: 600px) {
  .products li {
    list-style: none;
    display: inline-block;
    color: #969696
    float: left;
  }

  .footer {
    display: inline-block;
    float: left;
  }

  .footer li {
    list-style: none;
    float: right;
    display: inline-block;
    text-align: right;
    display: block;
    clear: both;
  }

@media screen and (min-width: 1240px) {
body {
  font-size: 16px;
} */
