/*** Fonts area ***/
  @font-face {
    font-family: "Playfair Display - Bold";
    src: url("../fonts/playfair-bold.eot");
    src: url("../fonts/playfair-bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/playfair-bold.woff2") format("woff2"),
         url("../fonts/playfair-bold.ttf") format("truetype"),
         url("../fonts/playfair-bold.svg#playfair_bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display - Bold Italic";
    src: url("../fonts/playfair-bolditalic.eot");
    src: url("../fonts/playfair-bolditalic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/playfair-bolditalic.woff2") format("woff2"),
         url("../fonts/playfair-bolditalic.ttf") format("truetype"),
         url("../fonts/playfair-bolditalic.svg#playfair_bold_italic") format("svg");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display - Italic";
    src: url("../fonts/playfair-italic.eot");
    src: url("../fonts/playfair-italic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/playfair-italic.woff2") format("woff2"),
         url("../fonts/playfair-italic.ttf") format("truetype"),
         url("../fonts/playfair-italic.svg#playfair_italic") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display - Regular";
    src: url("../fonts/playfair-regular.eot");
    src: url("../fonts/playfair-regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/playfair-regular.woff2") format("woff2"),
         url("../fonts/playfair-regular.ttf") format("truetype"),
         url("../fonts/playfair-regular.svg#playfair_regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway - Regular";
    src: url("../fonts/raleway-light.eot");
    src: url("../fonts/raleway-light.eot?#iefix") format("embedded-opentype"),
         url("../fonts/raleway-light.woff2") format("woff2"),
         url("../fonts/raleway-light.ttf") format("truetype"),
         url("../fonts/raleway-light.svg#ralewaylight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway - Italic";
    src: url("../fonts/raleway-lightitalic.eot");
    src: url("../fonts/raleway-lightitalic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/raleway-lightitalic.woff2") format("woff2"),
         url("../fonts/raleway-lightitalic.ttf") format("truetype"),
         url("../fonts/raleway-lightitalic.svg#ralewaylight_italic") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Raleway - Bold";
    src: url("../fonts/raleway-medium.eot");
    src: url("../fonts/raleway-medium.eot?#iefix") format("embedded-opentype"),
         url("../fonts/raleway-medium.woff2") format("woff2"),
         url("../fonts/raleway-medium.ttf") format("truetype"),
         url("../fonts/raleway-medium.svg#ralewaymedium") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Raleway - Bold Italic";
    src: url("../fonts/raleway-mediumitalic.eot");
    src: url("../fonts/raleway-mediumitalic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/raleway-mediumitalic.woff2") format("woff2"),
         url("../fonts/raleway-mediumitalic.ttf") format("truetype"),
         url("../fonts/raleway-mediumitalic.svg#ralewaymedium_italic") format("svg");
    font-weight: bold;
    font-style: italic;
}

/* Global */
body {
  font-family: "Raleway - Regular", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin: 0 auto;
  color: #2d2d2d;
  font-size: 14px;
}

h1{
  display:none; /* h1 tag required for every page created */
}

h2 {
  font-family: "Playfair Display - Italic", serif;
  font-size: 2.38rem; /* 38/16 */
  font-weight: normal;
  font-style: italic;
  padding: 3.75rem 0 1.25rem 0; /* 60/16 0 20/16 0 */
}

.bold-heading {
  font-family: "Playfair Display - Bold", serif;
  font-size: 2.38rem; /* 38/16 */
  font-style: normal;
  font-weight: bold;
}

h3 {
  font-family: "Playfair Display - Regular", serif;
  font-size: 1.5rem; /* 24/16 */
  text-align: center;
  color: #e2574c;
}

/* for sections that required a h2-h6 tag, flagged by the HTML
validator */
.hide-tag {
  display: none;
}

/* General */
.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
}
.screen-reader-text:focus {
   /* functinonal styles */
   clip: auto !important;
   display: block;
   height: auto;
   left: 5px;
   top: 5px;
   width: auto;
   z-index: 100000;
   /* decorative styles */
   background-color: #f1f1f1;
   color: #e2574c;
   border-radius: 3px;
   box-shadow: 1px 1px 6px rgba(100, 100, 100, 0.8);
   font-weight: bold;
   line-height: normal;
   outline: none;
   padding: 1rem;
   text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #b64036;
}

.container {
  max-width: 1240px; /* 1240/16 */
  padding: 0 2%;
  margin: 0 auto;
}

/* Header */
.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.aloha-logo {
  width: 120px;
}

.cart-wrapper {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 46px;
}

.shopping-cart {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 0.1rem;
}

/*Navigation Menu*/
.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 2;
  font-family: "Raleway - Bold";
  font-weight: bold;
  font-style: normal;
}

.navigation{
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.navigation a {
color: #e2574c;
}

.navigation ul{
  border-top: 0.1rem solid #d7d7d7;
  text-transform: uppercase;
  color: #e2574c;
  text-align: center;
}

.navigation-list li{
display: inline-block;
padding: 0.5rem;
}

/* Banner */
.hero {
  background:
    -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/banner-girl.png") no-repeat,
    url("../images/flower-bkgd.jpg");
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/banner-girl.png") no-repeat,
    url("../images/flower-bkgd.jpg");
  background-size: contain, contain, cover;
  background-position: 45%, left 50% bottom -6.78rem, 45%; /* 95/14 */
  height: 39.28rem; /* 550/14 */
  clear: both;
  width: 100%;
  margin: 0 auto;
}

.new-collection {
  position: relative; top: 45%;
  font-family: "Raleway - Bold", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.25rem; /* 20/16 */
  padding: 0.62rem; /* 10/16 */
  text-transform: uppercase;
  text-shadow: 0.06rem 0.06rem 0.12rem black; /* 1/16 1/16 2/16 */
  color: #ffffff;
}

.season {
  position: relative; top: 45%;
  font-family: "Playfair Display - Regular", serif;
  font-size: 4rem; /* 64/16 */
  color: #ffffff;
  text-shadow: 0.07rem 0.07rem 0.14rem black; /* 1/16 1/16 2/16 */
}

.description {
  font-size: 1.125rem; /* 18/16 */
  line-height: 2.25rem; /* 36/16 */
  padding: 1rem 0 3rem 0; /* 5/16 0 60/16 0 */
  max-width: 77.5rem; /* 1240/16 */
}

/* Products Category */
.products-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-text {
  font-family: "Raleway - Bold";
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.375rem; /* 22/16 */
}

.mens-category {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/mens-category.jpg") no-repeat center;
  background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/mens-category.jpg") no-repeat center;
    background-size: cover, cover;
  box-sizing: border-box;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 100%;
          flex: 2 0 100%;
  width: 100%;
  padding: 5rem 0;
}

.trends-category {
  background:
    -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/trends-category.jpg") no-repeat center;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/trends-category.jpg") no-repeat center;
    background-size: cover, cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  box-sizing: border-box;
  width: 50%;
  padding: 5rem 0;
}

.glasses-category {
  background:
    -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/glasses-category.jpg") no-repeat center;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/glasses-category.jpg") no-repeat center;
    background-size: cover, cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  box-sizing: border-box;
  width: 50%;
  padding: 5rem 0;
}

.sale-category {
  background:
    -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/sale-category.jpg") no-repeat center;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/sale-category.jpg") no-repeat center;
    background-size: cover, cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  box-sizing: border-box;
  width: 50%;
  padding: 5rem 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.bags-category {
  background:
    -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/bags-category.jpg") no-repeat center;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/bags-category.jpg") no-repeat center;
    background-size: cover, cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  box-sizing: border-box;
  width: 50%;
  padding: 5rem 0;
}

.womens-category {
  background:
    -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/womens-category.jpg") no-repeat center;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url("../images/womens-category.jpg") no-repeat center;
    background-size: cover, cover;
  box-sizing: border-box;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 100%;
          flex: 2 0 100%;
  width: 100%;
  padding: 5rem 0;
}

/* Featured Products */
.featured-products {
  margin-bottom: 5.57rem; /* 50/14 */
}

.featured-products-category {
  font-family: "Raleway - Bold", sans-serif;
  font-size: 0.625rem; /* 10/16 */
  line-height: 1.3125rem; /* 21/16 */
  color: #969696;
  background-color: #ffffff;
  text-transform: uppercase;
}

.featured-products-price {
  font-family: "Raleway - Bold", sans-serif;
  font-size: 1rem; /* 16/16 */
  line-height: 2rem; /* 32/16 */
  color: #969696;
}

/* Signup for Updates */
.signup {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%),
   url('../images/wave-bkgd.jpg') no-repeat bottom;
  background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%),
   url('../images/wave-bkgd.jpg') no-repeat bottom;
  margin-bottom: 0.71rem; /* 10/14 */
  color: #ffffff;
  padding: 0.5rem;
  margin: 0 auto;
}

.signup-form {
  border-radius: 25px;
  background-color: #ffffff;
  width: 400px;
  height: 55px;
  bottom: 1rem;
  position: relative;
  margin: 0 auto;
}

input[type="email"] {
  border-radius: 25px;
  font-size: 1rem; /* 14/14 */
  width: 51%;
  padding: 1rem; /* 14/14 */
  color: #969696;
  right: 5rem;
  border: 0;
  position: relative;
  bottom: 0rem; /* 45/14 */
  line-height: 1.5;
}

input[type="submit"] {
  border-radius: 1.42rem; /* 20/14 */
  font-size: 1.14rem; /* 16/14 */
  width: 8.64rem; /* 121/14 */
  padding: 0.71rem; /* 10/14 */
  background-color: #e2574c;
  text-align: center;
  color: #ffffff;
  position: absolute;
  border: 0;
  left: 16.1rem;
  bottom: 0.35rem;
}

input:focus {
    outline:none;
}

/* Footer */
footer {
  text-align: center;
  font-family: "Playfair Display - Regular", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem; /* 14/14 */
  padding: 2.85rem; /* 40/14 */
  background-color: #242424;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

.contact-info {
  padding: 1.07rem 0 1.07rem 0; /* top (15/14)| right | bottom (15/14) | left */
}

.address {
  color: #928479;
  padding: 0.71rem 0 0.71rem 0; /* 10/14 0 10/14 0 */
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa {
  padding: 0.5rem;
}

.hide-text {
  display:none;
}

/* Breakpoints */
@media screen and (min-width: 600px) {
  body{
    font-size: 16px;
  }

  .navigation-menu {
    order: -1;
  }

  .products li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    background-color: white;
    }

    footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align:start;
          -ms-flex-align:start;
              align-items:flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
  .footer-left {
    text-align: left;
  }

  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social-media {
    min-width: 2.5rem;
  }

  .hide-text {
    display: inline;
  }
}

@media screen and (min-width: 1240px) {
  body {
    font-size: 16px;
  }
}
